/.metadata/
/.recommenders/
Abc/.classpath
/.class/
/.log/
/*.log/
/*.xmi/
*.xmi
*.log
.metadata*
/.metadata*/
Abc/target/classes/META-INF/maven/Abc/Abc/pom.properties
MyFreeCRM/target/classes/META-INF/maven/FreeCrm/MyFreeCRM/pom.properties
